.rollingAreaContainer {
  margin-top: 40px;
  width: 930px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.rollingArea {
  background-color: var(--surface-alt);
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--border-default);
}

.pressName {
  font: var(--display-bold14);
  color: var(--text-strong);
}

.headline {
  width: 362px;
  font: var(--available-medium14);
  color: var(--text-default);
}
